@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Colors */
    --custom-50: #f9fafb;
    --custom-100: #f3f4f6;
    --custom-200: #e5e7eb;
    --custom-300: #d1d5db;
    --custom-400: #9ca3af;
    --custom-450: #9ca3af/0.5;
    --custom-500: #6b7280;
    --custom-550: #6b7280/0.5;
    --custom-600: #4b5563;
    --custom-650: #4b5563/0.5;
    --custom-700: #374151;
    --custom-750: #374151/0.5;
    --custom-800: #1f2937;
    --custom-850: #1f2937/0.5;
    --custom-900: #111827;
    --custom-950: #030712;

    --primary: #2a34dd;
    --secondary: #ecdf88;
    --accent: #7ae663;

    --width: min(80ch, calc(100% - 0.5rem));
  }

  * {
    @apply m-0 box-border select-none !scroll-smooth p-0 focus-visible:outline-none;
  }

  body {
    @apply relative bg-white text-xl text-black antialiased;
  }

  main {
    @apply mx-auto w-[var(--width)] overflow-hidden px-2 md:px-0;
  }
}

@layer components {
  p {
    @apply leading-[2rem];
  }
  h1 {
    @apply text-4xl font-extrabold;
  }
  button,
  a {
    @apply focus-visible:scale-105 focus-visible:transform focus-visible:opacity-90 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:transition-all focus-visible:duration-500;
  }
}

@layer utilities {
  @layer components {
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover {
      border: 2px solid #475569;
      font-size: 1.125rem;
      -webkit-text-fill-color: #cbd5e1;
      -webkit-box-shadow: 0 0 0px 1000px transparent inset;
      transition: background-color 5000s ease-in-out 0s;
      caret-color: #0f172a;
    }

    input:-webkit-autofill:focus,
    textarea:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      border: 2px solid #475569;
      font-size: 1.125rem;
      -webkit-box-shadow: 0 0 0px 1000px transparent inset;
      -webkit-text-fill-color: #cbd5e1;
      transition: background-color 5000s ease-in-out 0s;
      caret-color: #0f172a;
    }
  }
  .animate-scroll:hover {
    animation-play-state: paused;
  }
  .animate-scroll {
    animation: scroll 10s linear infinite;
  }
  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(calc(-50%));
    }
  }
}
